<!DOCTYPE html>
<html lang="en-US">
<head>
<title>Shady Dave's Car Dealership Form</title>
</head>
<body>
  <form action="/Cars/CarPage" method="post">
  <label for="carMakeAndModel">Car Make And Model:</label>
  <input id="carMakeAndModel" name="carMakeAndModel" type="text">
  <label for="carPrice">Price of Car</label>
  <input type="text" id="carPrice" name="carPrice">
  <button type="submit">Submit Car</button>
  </form>
</body>
</html>